@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}


body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-family:"Poppins",sans-serif;
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    margin:0;
}

.mobile-container{
    width:400px;
    background-color: #fff;

}

img{
    max-width:100%;

}

header{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:1rem;

}

header input{
    border-radius:3px;
    padding: 0.5rem 1rem;
}
header button{
    background-color: transparent;
    border-radius:3px;
    padding:0.5rem 1rem;
}

.fav-container{
    padding:1rem;
    text-align:center;
}
.fav-meals{
    display:flex;
    list-style-type:none;
    padding:0;
}
.fav-meals li{



}
.fav-meals li img{
    border-radius:50%;
    object-fit:cover;
    height:100px;
    width:100px;
}

.meals{
    padding:1rem;

}
.meals span{
    text-align:center;

}
.meals-header{


}
.meal-body{

}

.meal-body button{
    background-color:white;
    display:inline-block;



}
