h1{
    color:#000000;
    text-align:center;
    font-size:3em;
    

}

h2{
   font-weight:20em;

}
body{
    background-color:#3AAFA9;
    text-align:center;
    font-size:1.5em;

}

div{
   text-align:center;
   display:inline-block;

}
#day-c{
   margin: 2rem;



}


#month-c{
   margin: 2rem;

}

#min-c{
   margin: 2rem;

}

#hours-c{
   margin:2rem;

}

#second-c{
   margin: 2rem;

}

main{
    margin:4rem;
    border:2px solid black;
    background-color:white;
    padding:4px;

}
